body{
    align-content: center;
    font-weight: 900;
    width: 980px;
    margin: 0 auto;
    background-color: #1f1f1f;
}

#container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    width: 400px;
    margin-top: 100px;
}

.display { grid-area: 1 / 1 / 2 / 5; }
.right-column { grid-area: 2 / 4 / 7 / 5; }
.left-column { grid-area: 2 / 1 / 7 / 4; }
.divide { grid-area: 2 / 4 / 3 / 5; }
.multiply { grid-area: 3 / 4 / 4 / 5; }
.subtract { grid-area: 4 / 4 / 5 / 5; }
.add { grid-area: 5 / 4 / 6 / 5; }
.equal { grid-area: 6 / 4 / 7 / 5; }
.clear { grid-area: 2 / 1 / 3 / 2; }
.plus-minus { grid-area: 2 / 2 / 3 / 3; }
.percentages { grid-area: 2 / 3 / 3 / 4; }
.seven { grid-area: 3 / 1 / 4 / 2; }
.eight { grid-area: 3 / 2 / 4 / 3; }
.nine { grid-area: 3 / 3 / 4 / 4; }
.four { grid-area: 4 / 1 / 5 / 2; }
.five { grid-area: 4 / 2 / 5 / 3; }
.six { grid-area: 4 / 3 / 5 / 4; }
.one { grid-area: 5 / 1 / 6 / 2; }
.two { grid-area: 5 / 2 / 6 / 3; }
.three { grid-area: 5 / 3 / 6 / 4; }
.zero { grid-area: 6 / 1 / 7 / 3; }
.period { grid-area: 6 / 3 / 7 / 4; }

#container > button {
    border-radius: 50%;
    border: none;
    padding: 30px;
    font-size: 30px;
    height: 100px;
    width: 100px;
}

#container > .zero{
    border-radius: 50px;
    width: 100%;
    text-align: left;
    padding-left: 40px;
}

.light-gray{
    background-color: #a5a5a5;
    color: #171717;
    border-radius: 50%;
}

.dark-gray{
    background-color: #404040;
    color: #ffffff;
}

.orange{
    background-color: #ff970f;
    color: #ffffff;
}