@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    align-content: center;
    font-weight: 700;
    width: 980px;
    margin: 0 auto;
    background-color: #1f1f1f;
    font-family: roboto;
}

#container{
    display: flex;
    justify-content: center;
}

#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 100px;
}

#display { grid-area: 1 / 1 / 2 / 5; }
.right-column { grid-area: 2 / 4 / 7 / 4; }
.left-column { grid-area: 2 / 1 / 7 / 3; }
#divide { grid-area: 2 / 4 / 3 / 4; }
#multiply { grid-area: 3 / 4 / 4 / 4; }
#subtract { grid-area: 4 / 4 / 5 / 4; }
#add { grid-area: 5 / 4 / 6 / 4; }
#equal { grid-area: 6 / 4 / 7 / 4; }
#clear { grid-area: 2 / 1 / 3 / 1; }
#plus-minus { grid-area: 2 / 2 / 3 / 2; }
#percentages { grid-area: 2 / 3 / 3 / 3; }
#seven { grid-area: 3 / 1 / 4 / 1; }
#eight { grid-area: 3 / 2 / 4 / 2; }
#nine { grid-area: 3 / 3 / 4 / 3; }
#four { grid-area: 4 / 1 / 5 / 1; }
#five { grid-area: 4 / 2 / 5 / 2; }
#six { grid-area: 4 / 3 / 5 / 3; }
#one { grid-area: 5 / 1 / 6 / 1; }
#two { grid-area: 5 / 2 / 6 / 2; }
#three { grid-area: 5 / 3 / 6 / 3; }
#zero { grid-area: 6 / 1 / 7 / 3; }
#point { grid-area: 6 / 3 / 7 / 3; }

#grid > button {
    border-radius: 50%;
    border: none;
    padding: 10px;
    font-size: 32px;
    height: 80px;
    width: 80px;
}

#grid > button:hover {
box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
transition: 0.5s;
}

#grid > #zero{
    border-radius: 50px;
    width: 100%;
    text-align: left;
    padding-left: 30px;
}

#display{
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: right;
    padding-right: 20px;
}

.light-gray{
    background-color: #a5a5a5;
    color: #171717;
    border-radius: 50%;
}

.dark-gray{
    background-color: #404040;
    color: #ffffff;
}

.orange{
    background-color: #ff970f;
    color: #ffffff;
}